#form-container {
    font-family: 'Inter UI', sans-serif;
    background-color: #2E3532;

    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    height: min-content;
    width: min-content;

    border-radius: 21px;
}

#form-login {
    background-color:#2E3532;
    border: #6E8898 solid 1px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 150px;
    height: 56px;
    border-radius: 12px;
}

#input {
    -webkit-appearance: none;
    background-color: #EAE1DF;
    border: none;
    width: 140px;
}

#input[type="password"] {
    margin-top: 1px;
}

#bottom-line {
    margin-top: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-placeholder {
    text-align: center;
    /* pointer-events: none; */
    -webkit-appearance: none;
    background-color: #EAE1DF;
    border: none;
    width: 88px;
    height: 14px;
    margin-right: 2px;
}

#login-button {
    /* float: right; */
    border: none;
    cursor: pointer;
    background-color: #EAE1DF;
    width: 50px;
}

#login-button:active {
    background-color: #EAE1DF;
    color: #EAE1DF;
}